
@font-face {
  font-family: 'NettoOT';
  src: url('NettoOT.eot?#iefix') format('embedded-opentype'),  url('NettoOT.woff') format('woff'), url('NettoOT.ttf')  format('truetype'), url('NettoOT.svg#NettoOT') format('svg');
  font-weight: normal;
  font-style: normal;
}
