/*table.table-expandable > tbody > tr:nth-child(odd) {
    cursor: pointer;
}*/

table.table-expandable.table-hover > tbody > tr:nth-child(even):hover td {
    background-color: white;
}

table.table-expandable > tbody > tr i.table-expandable-arrow {
    /*background:transparent url(/assets/img/arrows.png) no-repeat scroll 0px -16px; width:16px; height:16px; display:block;*/
    cursor: pointer;
}

table.table-expandable > tbody > tr .table-row-toggle {
    cursor: pointer;
}

/*table.table-expandable > tbody > tr i.table-expandable-arrow.up {
    background-position:0px 0px;
}*/